/*!*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[14].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[14].oneOf[9].use[5]!./src/components/Common/Footer/footer.module.scss ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.footer_footerWrapper__plMsW {
  background: #000;
  color: #FEFDF5;
}
.footer_footerWrapper__plMsW .footer_container__wa0BM {
  padding: 40px 80px 20px;
}
.footer_footerWrapper__plMsW .footer_container__wa0BM .footer_topContent__S_jfw {
  display: flex;
  justify-content: space-between;
  font-size: 21px;
  line-height: 36px;
  margin-bottom: 80px;
}
.footer_footerWrapper__plMsW .footer_container__wa0BM .footer_topContent__S_jfw div span {
  display: block;
}
.footer_footerWrapper__plMsW .footer_container__wa0BM .footer_topContent__S_jfw div a {
  font-weight: 600;
}
.footer_footerWrapper__plMsW .footer_container__wa0BM .footer_quickLinksWrapper__MGeW_ {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px dashed rgba(255, 255, 255, 0.5019607843);
  padding-bottom: 80px;
}
.footer_footerWrapper__plMsW .footer_container__wa0BM .footer_quickLinksWrapper__MGeW_ .footer_linksWrap__k_NSk {
  min-width: 450px;
}
.footer_footerWrapper__plMsW .footer_container__wa0BM .footer_quickLinksWrapper__MGeW_ .footer_linksWrap__k_NSk h5 {
  font-size: 21px;
  line-height: 36px;
  font-weight: 600;
  margin-bottom: 30px;
}
.footer_footerWrapper__plMsW .footer_container__wa0BM .footer_quickLinksWrapper__MGeW_ .footer_linksWrap__k_NSk ul {
  display: grid;
  grid-template-columns: 50% 50%;
  width: 100%;
}
.footer_footerWrapper__plMsW .footer_container__wa0BM .footer_quickLinksWrapper__MGeW_ .footer_linksWrap__k_NSk ul li {
  margin-bottom: 10px;
}
.footer_footerWrapper__plMsW .footer_container__wa0BM .footer_quickLinksWrapper__MGeW_ .footer_linksWrap__k_NSk ul li a {
  color: rgba(254, 253, 245, 0.8156862745);
  line-height: 43px;
  font-size: 18px;
  font-weight: 300;
}
.footer_footerWrapper__plMsW .footer_container__wa0BM .footer_quickLinksWrapper__MGeW_ .footer_linksWrap__k_NSk ul li a:hover {
  text-decoration: underline;
  -webkit-text-decoration-style: dotted;
          text-decoration-style: dotted;
}
.footer_footerWrapper__plMsW .footer_container__wa0BM .footer_quickLinksWrapper__MGeW_ .footer_linksWrap__k_NSk.footer_firstWrap__3wKj2 {
  min-width: 250px;
}
.footer_footerWrapper__plMsW .footer_container__wa0BM .footer_quickLinksWrapper__MGeW_ .footer_linksWrap__k_NSk.footer_firstWrap__3wKj2 ul {
  grid-template-columns: 100%;
}
.footer_footerWrapper__plMsW .footer_container__wa0BM .footer_quickLinksWrapper__MGeW_ .footer_linksWrap__k_NSk.footer_lastWrap__ThiiW {
  min-width: 400px;
}
.footer_footerWrapper__plMsW .footer_container__wa0BM .footer_socialMedia__k_tO1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10px;
  border-bottom: 1px dashed rgba(255, 255, 255, 0.5019607843);
}
.footer_footerWrapper__plMsW .footer_container__wa0BM .footer_socialMedia__k_tO1 ul {
  display: flex;
  gap: 20px;
}
.footer_footerWrapper__plMsW .footer_container__wa0BM .footer_socialMedia__k_tO1 ul li a {
  background-color: #FEFDF5;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer_footerWrapper__plMsW .footer_container__wa0BM .footer_socialMedia__k_tO1 .footer_goToTop__1blUu {
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 50px;
  background: #D44116;
  padding: 20px 40px;
  max-height: 59px;
  cursor: pointer;
}
.footer_footerWrapper__plMsW .footer_container__wa0BM .footer_socialMedia__k_tO1 .footer_goToTop__1blUu img {
  width: 14px;
  height: 14px;
}
.footer_footerWrapper__plMsW .footer_container__wa0BM .footer_socialMedia__k_tO1 .footer_goToTop__1blUu:hover img {
  transition: all 0.2s ease;
  margin-bottom: 10px;
}
.footer_footerWrapper__plMsW .footer_container__wa0BM .footer_copyright__8B4OE {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 50px 0 10px;
}
.footer_footerWrapper__plMsW .footer_container__wa0BM .footer_copyright__8B4OE div a {
  margin-left: 30px;
}
.footer_footerWrapper__plMsW .footer_container__wa0BM .footer_copyright__8B4OE div a:hover {
  text-decoration: underline;
  -webkit-text-decoration-style: dotted;
          text-decoration-style: dotted;
}
/*!*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[14].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[14].oneOf[9].use[5]!./src/components/Common/Header/header.module.scss ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.header_headerWrapper__EsJV7 {
  position: fixed;
  inset: 0;
  background: transparent;
  z-index: 999;
  bottom: auto;
}
.header_headerWrapper__EsJV7 .header_container___P_f5 {
  display: grid;
  grid-template-columns: 161px 41% 5%;
  align-items: center;
  padding: 40px 80px;
  justify-content: space-between;
  transition: all 0.3s ease-in-out;
}
.header_headerWrapper__EsJV7 .header_container___P_f5 .header_logo__4ZnIb {
  text-align: center;
}
.header_headerWrapper__EsJV7 .header_container___P_f5 .header_logo__4ZnIb img {
  transition: all 0.2s ease-in-out;
}
.header_headerWrapper__EsJV7 .header_container___P_f5 .header_menu__EanLW ul {
  display: flex;
  gap: 50px;
}
.header_headerWrapper__EsJV7 .header_container___P_f5 .header_menu__EanLW ul li a {
  display: block;
  min-width: 80px;
  font-size: 18px;
  line-height: 14px;
  text-align: center;
}
.header_headerWrapper__EsJV7 .header_container___P_f5 .header_menu__EanLW ul li a.header_active__I9ip4, .header_headerWrapper__EsJV7 .header_container___P_f5 .header_menu__EanLW ul li a:hover {
  font-weight: 700;
}
.header_headerWrapper__EsJV7 .header_container___P_f5 .header_submenu__hN258 {
  display: grid;
  grid-template-columns: 10px 10px;
  grid-gap: 5px;
  gap: 5px;
  cursor: pointer;
}
.header_headerWrapper__EsJV7 .header_container___P_f5 .header_submenu__hN258 div {
  width: 9px;
  height: 9px;
  border-radius: 100%;
  background: #333333;
  border: 1px solid #707070;
}
.header_headerWrapper__EsJV7 .header_container___P_f5 .header_submenu__hN258 div:nth-child(2) {
  background: #D44116;
  border-color: #D44116;
}
.header_headerWrapper__EsJV7 .header_container___P_f5 .header_submenu__hN258 div:last-child {
  background: #D44116;
  border-color: #D44116;
}
.header_headerWrapper__EsJV7.header_shrink__hDams .header_container___P_f5 {
  padding: 10px 80px;
  box-shadow: 0px 0px 4px 1px #ccc;
  transition: all 0.3s ease-in-out;
  background-color: #fefdf6;
}
.header_headerWrapper__EsJV7.header_shrink__hDams .header_logo__4ZnIb img {
  width: 100px;
  height: auto;
  transition: all 0.3s ease-in-out;
}

.header_whiteHeader__gxQXL .header_container___P_f5 .header_menu__EanLW ul li a {
  color: #fff;
}
