.repeatSection {
    .container {
        padding: 80px 140px 0 80px;

        h2 {
            letter-spacing: -1.2px;
            color: #000000;
            font-size: 60px;
            line-height: 61px;
            margin-bottom: 30px;
            max-width: 950px;
            width: 100%;

            span {
                display: block;
                letter-spacing: -0.17px;
                color: #868585;
                font-size: 24px;
                line-height: 65px;
                font-weight: 300;

            }
        }

        .contentWrapper {
            margin-bottom: 10px;

            .topSection {
                padding-bottom: 37px;

                strong {
                    display: block;
                    letter-spacing: -0.25px;
                    font-size: 36px;
                    line-height: 65px;
                    border-bottom: 2px dashed #00000033;
                }
            }

            .contentLeft {
                font-size: 36px;
                line-height: 65px;
                font-weight: 600;
                margin-bottom: 35px;
            }

            .content {
                display: flex;
                align-items: flex-start;
                justify-content: space-between;
                gap: 50px;
                width: 100%;

                p {
                    font-size: 21px;
                    line-height: 26px;
                    font-weight: 300;
                    max-width: 800px;
                    width: 100%;
                }

                ul {
                    li {
                        font-size: 21px;
                        line-height: 26px;
                        font-weight: 300;
                        margin-bottom: 5px;
                    }
                }
            }
        }
    }
}