.platformCardWrapper{
   display: flex;
   flex-direction: column;
   padding: 55px 121px;
   gap: 50px;

   @media screen and (max-width: 1200px) {
    padding: 40px;
    gap: 32px;
  }

  @media screen and (max-width: 768px) {
    padding: 40px 16px 40px;
  }
}

.platformCardContent{
    display: grid;
    grid-template-columns: minmax(auto, 425px) minmax(auto, 630px);
    color:#000000;

    @media screen and (max-width: 768px) {
        display: flex;
        flex-direction: column;
        gap: 16px;
        width: 100%;
      }

    .platformCardLeft{
        display: flex;
    gap: 6.07613469vw;
        height: max-content;
        align-items: center;

        @media screen and (max-width: 1200px) {
            gap: 2.666666vw;
          }
        
          @media screen and (max-width: 768px) {
            gap: 16px;
          }

    

        h1{
            font-size: 72px;
    letter-spacing: -0.5px;

    font-weight: bold;

    @media (max-width: 1200px) {
      font-size: 38px;
      line-height: 56px;
    }

    @media (max-width: 1024px) {
      font-size: 30px;
      line-height: 30px;
    }

  
        }

        h2{
            font-size: 21px;
            line-height: 42px;
            font-weight: unset;
        
            @media screen and (max-width: 1200px) {
                font-size: 18px;
                line-height: 30px;
        
              }
            
              @media screen and (max-width: 768px) {
                font-size: 16px;
                line-height: 26px;
        
              }
        }
    }
    .platformCardRight{
        display: flex;
        flex-direction: column;
        gap: 36px;

 

        @media screen and (max-width: 1200px) {
            gap: 32px;

    
          }
        @media screen and (max-width: 768px) {
            gap: 16px;
    
          }


        h2{
            font-size: 27px;
            // line-height: 4.7584187vw;
            line-height: 40px;
            font-weight: 600;
        
            @media screen and (max-width: 1200px) {
                font-size: 18px;
                line-height: 30px;
        
              }
            
              @media screen and (max-width: 768px) {
                font-size: 16px;
                line-height: 26px;
        
              }
        }

        .imageContainer{
            max-width: 314px;
            width: 100%;
            height: 250px;
            overflow: hidden;

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        p{
            color: #000000;
            font-size: 21px;
    line-height: 32px;

    @media screen and (max-width: 1200px) {
        font-size: 18px;
        line-height: 30px;

      }
    
      @media screen and (max-width: 768px) {
        font-size: 16px;
        line-height: 26px;

      }
        }

        .bottomBorder{
            border-bottom: 2px dashed #000000;
            opacity: 0.2;
            padding-top: 14px;
        }
    }
}

.platformCardContent:last-child .bottomBorder {
    display: none;
  }