.carousel {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.track {
  display: flex;
  align-items: center;
  width: 100%;
  will-change: transform;
}

.slide {
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  
  @media screen and (max-width: 768px) {
    padding: 0 5px;
  }
}
