/* banner */

.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 180px 80px 0;
  position: relative;

  @media screen and (max-width: 1200px) {
    padding: 180px 40px 0;
  }

  @media screen and (max-width: 768px) {
    padding: 120px 26px 0;
  }


  &.whiteBG {
    background: #fff;
  }
}

.bannerImage {
  display: flex;
  flex-direction: column;
  width: 100%;

  overflow: hidden;

  img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}

.bannerImageBottomContainer {
  border: 1px solid #707070;
  border-top: unset;
}

.contactBanner {
  display: flex;
  background-color: #d44116;

}

.contactBannerContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  width: 100%;
  padding: 35px 45px 50px;

  @media screen and (max-width: 768px) {
    padding: 35px 26px;
    gap: 16px;
  }
}

.contactUsButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 211px;
  height: 56px;
  background: #000000;
  border-radius: 4px;
  font-size: 21px;
  line-height: 36px;
  letter-spacing: -0.15px;
  font-weight: 300;
  color: #FFFFFF;
  margin-top: 22px;
  cursor: pointer;

  &:hover {
    transform: scale(0.98);
  }

  @media screen and (max-width: 768px) {
    font-size: 18px;
    line-height: 1.5;
  }
}

.CustomBorderRadius {
  border-radius: 4px;
}

.bannerContactUsButton {
  padding-top: 36.18px;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.contactBannerTitle {
  font-size: 27px;
  // line-height: 65px;
  letter-spacing: -0.25px;
  color: #FFFFFF;
  font-weight: 600;

  @media screen and (max-width: 768px) {
    font-size: 27px;
    line-height: 37px;
    margin-bottom: 20px;
  }
}

.contactBannerDescription {
  max-width: 760px;
  font-size: 21px;
  line-height: 36px;
  letter-spacing: -0.15px;
  font-weight: 300;
  color: #FFFFFF;
  pointer-events: none;
  text-align: center;

  @media screen and (max-width: 768px) {
    max-width: 100%;
    font-size: 18px;
    line-height: 1.5;
  }
}

.content h1 {
  font-size: 48px;
  line-height: 48px;
  color: #000;
  font-weight: bold;
  margin-bottom: 45px;
  // max-width: 685px;
  width: 100%;

  @media screen and (max-width: 768px) {
    font-size: 27px;
    line-height: 37px;
    margin-bottom: 20px;
  }
}

.content .smallHeading {
  font-size: 48px;
  line-height: 48px;
  max-width: 700px;


  // @media screen and (max-width: 1200px) {
  //   font-size: 47px;
  //   line-height: 57px;
  // }

  @media screen and (max-width: 768px) {
    font-size: 27px;
    line-height: 37px;
    margin-bottom: 20px;
  }
}

.content h1 span {
  color: #d44116;
  display: block;
}

.descriptionContainerWithScroll {
  display: flex;
  justify-content: space-between;

  @media (max-width: 1024px) {
    flex-direction: column;
    gap: 20px;
  }
}

.content h2 {
  font-size: 27px;
  line-height: 37px;
  color: #000;
  font-weight: normal;
  width: 100%;
  // max-width: 940px;

  @media screen and (max-width: 768px) {
    font-size: 19px;
    line-height: 30px;
  }
}

.content .smallSubheading {
  font-size: 27px;
  line-height: 32px;
  max-width: 850px;

  // @media screen and (max-width: 1200px) {
  //   font-size: 29px;
  //   line-height: 40px;
  // }

  @media screen and (max-width: 768px) {
    font-size: 19px;
    line-height: 30px;
  }
}

.scroll {
  display: flex;
  align-items: flex-end;
  font-size: 18px;
  line-height: 14px;
  color: #000;
  margin-bottom: 30px;
  // width: 100%;
  text-align: right;

  @media (max-width: 1024px) {
    width: 100%;
    justify-content: flex-end;
    margin-bottom: unset;
  }
}

.dashedBorder {
  border-bottom: 2px dashed #000;
  padding-top: 62px;

  @media screen and (max-width: 768px) {
    padding-top: 40px;
  }

  &.noBorder {
    border-bottom: none;
  }
}

.rowReverseImportant {
  flex-direction: row-reverse !important;

  @media screen and (max-width: 1000px) {
    flex-direction: column !important;
  }
}

/* MVP section */

.splitSection {
  padding: 62px 80px 50px;

  @media screen and (max-width: 1200px) {
    padding: 80px 40px 40px;
  }

  @media screen and (max-width: 768px) {
    padding: 40px 26px 30px;
  }

  &:nth-of-type(3),
  &:nth-of-type(5) {
    background: #fff;
  }

  &:nth-of-type(4) {
    .splitSectionContainer {
      .splitSectionLeft {
        img {
          transform: rotate(180deg);
        }
      }
    }
  }

}

.lastSection {
  padding-bottom: 80px;
}

.splitSectionContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 70px;
  position: relative;

  @media screen and (max-width: 1000px) {
    flex-direction: column;
    gap: 20px;
  }
}

.splitSectionLeft {
  max-width: 310px;
  width: 100%;

  @media screen and (max-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 250px;
  }
}


.splitSectionRight {
  max-width: 100%;
  width: 100%;
}

.splitSectionRight h2 {
  font-size: 27px;
  line-height: 49px;
  margin-bottom: 10px;

  @media screen and (max-width: 768px) {
    font-size: 22px;
    line-height: 40px;
  }
}

.splitSectionRight p {
  font-size: 21px;
  line-height: 36px;
  margin-bottom: 33px;
  font-weight: 300;

  @media screen and (max-width: 1200px) {
    font-size: 18px;
    line-height: 30px;
  }

  @media screen and (max-width: 768px) {
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 20px;
  }
}

.splitSectionRight ul {
  display: flex;
  flex-wrap: wrap;

  @media screen and (max-width: 768px) {
    flex-direction: column;
    margin-bottom: 20px;
  }
}

.splitSectionRight ul li {
  font-size: 16px;
  line-height: 25px;
  // font-size: 14px;
  margin-bottom: 26px;
  font-weight: 300;
  width: 50%;
  padding-left: 25px;
  position: relative;

  // @media screen and (max-width: 1200px) {
  //   font-size: 18px;
  //   line-height: 30px;
  // }

  @media screen and (max-width: 768px) {
    // font-size: 16px;
    // line-height: 25px;
    width: 100%;
    margin-bottom: 10px;
  }
}

.splitSectionRight ul li::before {
  position: absolute;
  content: "";
  width: 12px;
  height: 12px;
  background: #000;
  border-radius: 100%;
  left: 0;
  top: 7px;

  @media screen and (max-width: 1200px) {
    width: 8px;
    height: 8px;
    left: 6px;
    top: 9px;
  }
}

.splitSectionRight a {
  @media screen and (max-width: 768px) {
    // margin: 0 20px 0 auto;
    display: table;
  }

  &:hover {
    text-decoration: underline;
  }
}

// Our Works section

.ourWorks {
  background: #000;
  color: #fefdf5;

  .container {
    padding: 55px 0 55px 80px;

    @media screen and (max-width: 1200px) {
      padding: 55px 0 55px 40px;
    }

    @media screen and (max-width: 768px) {
      padding: 40px 0 16px 40px;
    }

    .topContent {
      display: flex;
      justify-content: space-between;
      padding: 55px 80px 55px 0px;
      gap: 40px;

      @media screen and (max-width: 1200px) {
        padding: 55px 0 55px 40px;
      }

      @media screen and (max-width: 768px) {
        flex-direction: column;
        padding: 0;
      }

      h2 {
        font-size: 42px;
        line-height: 52px;
        font-weight: 300;
        max-width: 320px;
        width: 100%;

        @media screen and (max-width: 768px) {
          font-size: 27px;
          line-height: 37px;
        }
      }

      p {
        font-size: 21px;
        line-height: 36px;
        max-width: 640px;
        width: 100%;
        // margin-top: 85px;

        @media screen and (max-width: 1200px) {
          font-size: 18px;
          line-height: 30px;
          padding-right: 20px;
        }

        @media screen and (max-width: 768px) {
          margin: 0;
        }
      }
    }

    .bottomContent {
      position: relative;

      .scrollDown {
        position: absolute;
        top: 45%;
        left: -40px;
        transform: rotate(270deg);

        @media screen and (max-width: 1200px) {
          top: 39%;
          left: unset;
        }


        @media screen and (max-width: 550px) {
          top: 23%;
          left: -70px;
        }

        span {
          font-size: 18px;
        }
      }

      .workSlider {
        max-width: 82%;
        margin: 0 0 0 auto;
        padding-top: 100px;

        @media screen and (max-width: 550px) {
          max-width: 97%;
        }

        >div {
          // margin-bottom: -216px;
          margin-bottom: -125px;

          @media screen and (max-width: 768px) {
            margin-bottom: -100px;
          }
        }

        .workItem {
          margin-right: 20px;

          >div {
            // min-height: 414px;
            min-height: 154px;
            min-width: 483px;
            max-width: 483px;
            width: 100%;
            // margin-right: 25px;
            background: rgb(255, 255, 255);
            display: flex;
            flex-direction: column;
            padding: 61px 50px 54px 50px;
            align-items: flex-start;

            @media screen and (max-width: 1200px) {
              // min-height: 310px;
              max-width: 380px;
              padding: 30px 40px;
              min-width: 380px;
            }

            @media screen and (max-width: 768px) {
              // min-height: 375px;
              max-width: 360px;
              min-width: 360px;
              padding: 30px 40px;
            }

            @media screen and (max-width: 550px) {
              // min-height: 290px;
              max-width: 270px;
              min-width: 270px;
              padding: 25px;
            }
          }
        }

        .imageWrap {
          margin-bottom: 48px;

          // @media screen and (max-width: 768px) {
          //   margin-bottom: 50px;
          // }

          @media screen and (max-width: 550px) {
            margin-bottom: 30px;
          }

          img {
            width: auto;
            // max-width: 300px;
            height: 150px;

            @media screen and (max-width: 1200px) {
              height: 100px;
            }
          }
        }

        p {
          color: #090b0f;
          font-size: 24px;
          line-height: 32px;

          @media screen and (max-width: 768px) {
            line-height: 34px;
          }

          @media screen and (max-width: 550px) {
            font-size: 20px;
            line-height: 26px;
          }
        }

        .customArrow {
          display: flex !important;
          align-items: center;
          justify-content: center;
          background: transparent;
          width: 81px;
          height: 46px;
          border-radius: 50px;
          cursor: pointer;
          transition: all 0.3s ease;
          background: #fff;
          top: -60px;
          right: 155px !important;
          left: auto;

          @media screen and (max-width: 768px) {
            right: 35px !important;
            width: 60px;
            height: 40px;
          }

          &:before {
            display: none;
          }

          svg {
            fill: #000;
            transition: fill 0.3s ease;
          }

          &:hover {
            background: #696363;

            svg {
              fill: white;
            }
          }
        }

        .customArrowLeft {
          right: 262px !important;

          @media screen and (max-width: 768px) {
            right: 132px !important;
          }
        }
      }
    }
  }
}

// Number section

.numberSection {
  .container {
    &.custompadding {
      padding: 80px 80px 80px;
    }

    // padding: 290px 80px 54px;
    padding: 200px 80px 54px;
    display: flex;
    justify-content: space-between;
    gap: 189px;

    @media screen and (max-width: 1024px) {
      gap: 40px;
    }

    @media screen and (max-width: 1200px) {
      &.custompadding {
        padding: 80px 40px 80px;
      }

      // padding: 290px 40px 54px;
      padding: 200px 40px 54px;
    }

    @media screen and (max-width: 900px) {
      flex-direction: column;
    }

    @media screen and (max-width: 768px) {
      &.custompadding {
        padding: 40px 26px 40px;
      }

      // padding: 250px 26px 40px;
      padding: 150px 26px 40px;
    }

    .nSectionLeft {
      p {
        font-weight: 600;
        font-size: 18px;
        line-height: 23px;
        max-width: 340px;
        width: 100%;
      }
    }

    .nSectionRight {
      // max-width: 710px;
      width: 100%;

      h3 {
        font-size: 36px;
        line-height: 42px;
        margin-bottom: 30px;
        font-weight: 400;
        max-width: 580px;
        width: 100%;

        @media screen and (max-width: 1024px) {
          max-width: 100%;
        }

        @media screen and (max-width: 768px) {
          font-size: 25px;
          line-height: 35px;
        }
      }

      p {
        font-size: 21px;
        line-height: 36px;
        margin-bottom: 50px;
        max-width: 642px;

        @media screen and (max-width: 1200px) {
          font-size: 18px;
          line-height: 25px;
        }

        @media screen and (max-width: 1024px) {
          max-width: 100%;
        }

        @media screen and (max-width: 768px) {
          font-size: 16px;
          line-height: 20px;
        }
      }

      .numbersWrap {
        display: flex;
        justify-content: space-between;
        // max-width: 580px;
        gap: 10px;

        @media screen and (max-width: 590px) {
          flex-direction: column;
          gap: 25px;
        }

        .number {
          display: flex;
          flex-direction: column;
          align-items: flex-start;

          strong {
            font-size: 42px;
            line-height: 36px;
            font-weight: 500;
            margin-bottom: 10px;

            @media screen and (max-width: 768px) {
              font-size: 35px;
              line-height: 36px;
            }
          }

          span {
            font-size: 18px;
            line-height: 36px;
            font-weight: 300;

            @media screen and (max-width: 1200px) {
              font-size: 16px;
              line-height: unset;
            }

            @media screen and (max-width: 660px) {
              font-size: 14px;
            }

            @media screen and (max-width: 590px) {
              font-size: 18px;
            }
          }
        }
      }

      .learnMore {
        font-size: 21px;
        line-height: 36px;
        font-weight: 300;
        margin-top: 30px;

        @media screen and (max-width: 1200px) {
          font-size: 18px;
          line-height: 25px;
        }

        @media screen and (max-width: 768px) {
          font-size: 16px;
        }

        a {
          font-size: 21px;
          font-weight: 700;
        }
      }
    }
  }
}

//Our clients

.OurClients {
  background: #ece3da;

  &.addTopPadding {
    margin-top: 150px;
  }

  &.greyBG {
    background: #f5f5f5;
  }

  .container {
    padding: 40px 80px;

    @media screen and (max-width: 1200px) {
      padding: 40px;
    }

    @media screen and (max-width: 768px) {
      padding: 40px 26px;
    }

    h2 {
      font-size: 21px;
      line-height: 36px;
      font-weight: 600;
      text-align: center;
      margin-bottom: 60px;
    }

    .clientItem {
      >div {
        max-width: 300px;
        display: flex;
        gap: 20px;
        justify-content: center;
        align-items: center;
      }

      .imageWrap {
        margin-right: 20px;

        img {
          width: 100%;
          max-width: 300px;
          max-height: 51px;
          height: auto;
          object-fit: contain;
        }
      }
    }
  }

}

// InsightsAndBlog Section\

.InsightsAndBlog {
  &.addTopPadding {
    margin-top: 150px;

    @media screen and (max-width: 1200px) {
      margin-top: 100px;
    }
  }

  .container {
    padding: 20px 80px 0;

    @media screen and (max-width: 1200px) {
      padding: 40px 40px 0;
    }

    @media screen and (max-width: 768px) {
      padding: 40px 26px 0;
    }

    h2 {
      font-size: 36px;
      line-height: 59px;

      @media screen and (max-width: 768px) {
        font-size: 25px;
        line-height: 35px;
      }
    }

    .contentList {
      .content {
        display: grid;
        border-bottom: 1px dashed #000;
        grid-template-columns: 30% 42% 100px;
        justify-content: space-between;
        align-items: flex-start;
        padding: 70px 0;

        @media screen and (max-width: 1200px) {
          grid-template-columns: 30% 42% 100px;
        }

        @media screen and (max-width: 850px) {
          grid-template-columns: 100%;
          gap: 30px;
          padding: 50px 0 30px;
        }

        @media screen and (max-width: 768px) {
          padding: 20px 0 20px;
          gap: 20px;
        }

        &:last-child {
          border-bottom: 0;
        }

        .heading {
          font-size: 24px;
          line-height: 65px;
          font-weight: 600;

          @media screen and (max-width: 768px) {
            font-size: 20px;
            line-height: 25px;
            margin-bottom: 10px;
          }
        }

        .headingAlignment {
          line-height: unset;

          @media screen and (max-width: 768px) {
            font-size: 20px;
            line-height: 25px;
            margin-bottom: 10px;
          }
        }

        .desc {
          h4 {
            font-size: 21px;
            line-height: 36px;
            font-weight: 600;
            margin-bottom: 20px;

            @media screen and (max-width: 768px) {
              font-size: 18px;
              line-height: 25px;
              margin-bottom: 5px;
            }
          }

          p {
            font-size: 21px;
            line-height: 36px;
            font-weight: 300;

            @media screen and (max-width: 768px) {
              font-size: 16px;
              line-height: 25px;
            }
          }
        }

        a {
          display: inline-block;
          width: fit-content;
        }
      }
    }
  }
}

// DataDriven Section

.dataDriven {
  .container {
    padding: 60px 80px 40px;

    @media screen and (max-width: 1200px) {
      padding: 50px 40px;
    }

    @media screen and (max-width: 768px) {
      padding: 40px 26px;
    }

    .sectionTop {
      h2 {
        font-size: 36px;
        line-height: 42px;
        max-width: 435px;
        width: 100%;
        margin-bottom: 35px;
        font-weight: 400;

        @media screen and (max-width: 768px) {
          font-size: 25px;
          line-height: 35px;
          margin-bottom: 20px;
        }
      }
    }

    .sectionBottom {
      .sectionBottomContainer {
        display: grid;
        grid-template-columns: 33% 34% 24%;
        justify-content: space-between;

        @media screen and (max-width: 978px) {
          display: flex;
          flex-wrap: wrap;
        }

        @media screen and (max-width: 768px) {
          flex-direction: column;
        }

        .points {
          @media screen and (max-width: 978px) {
            width: 100%;
          }

          div.pointList {
            display: flex;
            gap: 18%;
            margin-bottom: 36px;
            cursor: pointer;

            &:last-child {
              margin-bottom: 0;
            }

            span {
              font-size: 21px;
              line-height: 36px;
              font-weight: 300;
              opacity: 0;
              transition: opacity 0.3s ease;
            }

            strong {
              font-size: 21px;
              line-height: 36px;
              font-weight: 300;
            }

            &.showPoints {
              span {
                opacity: 1;
              }

              strong {
                font-weight: 700;
              }
            }
          }

          .mobilePoints {
            z-index: 99;
            position: relative;
            margin-bottom: 20px;
          }
        }

        .desc {
          position: relative;
          width: 100%;

          @media screen and (max-width: 978px) {
            width: 50%;
          }

          @media screen and (max-width: 768px) {
            width: 100%;
            min-height: 220px;
          }

          div {
            position: absolute;
            opacity: 0;
            transform: translateY(10px);
            transition: opacity 0.3s ease, transform 0.3s ease;
            max-width: 360px;
            font-size: 21px;
            line-height: 36px;
            font-weight: 300;
            pointer-events: none;

            // @media screen and (max-width: 978px) {
            //   position: unset;
            // }

            @media screen and (max-width: 768px) {
              max-width: 100%;
              font-size: 18px;
              line-height: 1.5;
            }
          }

          .showDesc {
            opacity: 1;
            transform: translateY(0);
            pointer-events: auto;
            z-index: 1;
          }
        }

      }

      .sectionBottomContainer.noImage {
        grid-template-columns: 33% 67%;

        .desc {
          width: 100% !important;

          div {
            max-width: 100%;
          }
        }

        .points {
          width: 100% !important;
        }
      }
    }
  }
}

//Testimonials section

.Testimonials {
  padding: 40px 80px 40px 100px;

  @media screen and (max-width: 1200px) {
    padding: 40px 40px 40px 100px;
  }

  @media screen and (max-width: 768px) {
    padding: 40px 26px 40px;
  }

  &.addTopPadding {
    margin-top: 150px;

    @media screen and (max-width: 1200px) {
      margin-top: 100px;
    }

    @media screen and (max-width: 768px) {}
  }

  .testimonialContainer {
    background: #010104 !important;
    color: #FFFFFF !important;

    .customArrow {
      border: 1px solid #fff !important;
    }
  }

  .container {
    background: #ece3da;
    padding: 40px 50px;

    @media screen and (max-width: 550px) {
      padding: 25px 25px 80px;
    }

    .testimonialItem {
      >div {
        .desc {
          font-size: 27px;
          line-height: 42px;
          font-weight: 600;
          margin-bottom: 26px;

          @media screen and (max-width: 768px) {
            font-size: 18px;
            line-height: 25px;
          }
        }

        .profileData {
          display: flex;
          align-items: center;
          gap: 20px;

          img {
            max-width: 77px;
            width: 100%;
            height: auto;
            max-height: 77px;
            // box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
          }

          div {
            strong {
              display: block;
              font-size: 21px;
              font-weight: 600;
              margin-bottom: 3px;

              @media screen and (max-width: 768px) {
                font-size: 18px;
                line-height: 25px;
              }
            }

            span {
              display: block;
              font-size: 16px;
              font-weight: 300;

              @media screen and (max-width: 768px) {
                font-size: 14px;
                line-height: 15px;
              }
            }
          }
        }
      }
    }

    .customArrow {
      display: flex !important;
      align-items: center;
      justify-content: center;
      background: transparent;
      width: 81px;
      height: 46px;
      border-radius: 50px;
      cursor: pointer;
      transition: all 0.3s ease;
      top: auto;
      bottom: -6px;
      right: -15px !important;
      left: auto;
      z-index: 9;
      background: #fff;
      border: 1px solid #010104;

      @media screen and (max-width: 550px) {
        bottom: -80px;
        width: 60px;
        height: 40px;
      }

      &:before {
        display: none;
      }

      svg {
        fill: #010104;
        transition: fill 0.3s ease;
      }

      &:hover {
        background: #010104;
        border: 1px solid transparent;

        svg {
          fill: #fff;
        }
      }
    }

    .customArrowLeft {
      right: 80px !important;

      @media screen and (max-width: 550px) {
        right: 60px !important;
      }
    }
  }
}

.overviewCardWrapper {
  display: flex;
  flex-direction: column;
  padding: 30px 90px 0 90px;
  gap: 20px;

  // @media screen and (max-width: 1200px) {
  //   padding: 50px 40px;
  //   gap: 30px;
  // }

  @media screen and (max-width: 768px) {
    padding: 40px 26px;
    gap: 16px;
  }

  .overviewCardDescription {
    max-width: 1000px;
  }
}

.overviewCardTitle {
  font-size: 27px;
  line-height: 65px;
  font-weight: 600;
  letter-spacing: -0.25px;
  color: #000000;


  // @media screen and (max-width: 1200px) {
  //   font-size: 30px;
  //   line-height: 60px;
  // }

  @media screen and (max-width: 768px) {
    font-size: 22px;
    line-height: 40px;
  }
}

.overviewCardDescription {
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-size: 21px;
  line-height: 36px;
  letter-spacing: -0.15px;
  font-weight: 300;
  color: #000000;
  padding-left: 17.8257686vw;

  ul {
    padding-left: 25px;

    @media screen and (max-width: 768px) {
      padding-left: 16px;
    }

    li {
      list-style-type: disc;
    }
  }

  p {
    strong {
      font-weight: 600;
    }
  }

  a {
    // font-size: 21px;
    // line-height: 36px;
    // margin-bottom: 40px;
    // font-weight: 300;
    color: #000;
    position: relative;
    transition: all 0.3s ease;
    cursor: pointer;
    min-width: 110px;

    @media screen and (max-width: 1200px) {
      font-size: 18px;
      line-height: 30px;
      min-width: 90px;
    }

    @media screen and (max-width: 768px) {
      font-size: 16px;
      line-height: 26px;
      min-width: 80px;
    }

    &::before {
      content: "";
      position: absolute;
      // bottom: -10px;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      border-bottom: 1px dashed #000;
      transition: border-bottom 0.3s ease;
    }

    &:hover {
      color: #d44116;

      &::before {
        border-bottom: 5px double #000;
      }
    }
  }

  @media screen and (max-width: 1200px) {
    padding-left: 8.333333vw;
    gap: 16px;
  }

  @media screen and (max-width: 768px) {
    padding-left: unset;
  }
}

.bannerHeading .smallHeading {
  font-size: 48px;
}