// .ourWorks {
//   background: #fefcf9;
//   padding: 4rem 2rem;
//   position: relative;

//   .topHeader {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     margin-bottom: 4rem;
//     position: relative;
//     left: 50px;

//     h2 {
//       font-size: 2.8rem;
//       line-height: 1.2;
//       font-weight: 300;

//       strong {
//         font-weight: 700;
//         display: inline-block;
//       }
//     }
//   }

//   .slide {
//     padding: 1rem;
//   }

//   .cardLayout {
//     display: flex;
//     gap: 3rem;
//     align-items: center;
//     background: white;
//     border-radius: 16px;
//     padding: 2rem;
//     width: 100%;
//     max-width: 1300px;
//     justify-content: center;

//     .imageSection {
//       width: 500px; // ✅ fixed image width
//       flex-shrink: 0;

//       img {
//         width: 100%;
//         height: auto;
//         display: block;
//         border-radius: 8px;
//       }
//     }

//     .textSection {
//       flex: 1; // ✅ stretch the text
//       padding-left: 2rem;
//       h3 {
//         font-size: 40px;
//         font-weight: 700;
//         font-family: "Titillium Web", sans-serif;
//         line-height: 49px;
//         letter-spacing: -1.64px;
//         color: #000000;
//         margin-bottom: 1rem;
//       }

//       p {
//         font-size: 1.1rem;
//         line-height: 1.8;
//         color: #333;
//         padding: 1rem;
//       }
//     }
//   }

//   .customArrow {
//     display: flex !important;
//     align-items: center;
//     justify-content: center;
//     background: #fff;
//     width: 81px;
//     height: 46px;
//     border-radius: 50px;
//     border: 1px solid #000; // black border
//     background-color: transparent;
//     cursor: pointer;
//     transition: all 0.3s ease;
//     top: -120px;
//     right: 155px !important;
//     left: auto;
//     z-index: 1;
//     position: absolute;

//     @media screen and (max-width: 768px) {
//       right: 35px !important;
//       width: 60px;
//       height: 40px;
//       top: -50px;
//     }

//     &:before {
//       display: none;
//     }

//     svg {
//       fill: #000;
//       transition: fill 0.3s ease;
//     }

//     &:hover {
//       background: black;

//       svg {
//         fill: white;
//       }
//     }
//   }

//   .customArrowLeft {
//     right: 262px !important;
//   }

//   @media (max-width: 768px) {
//     .cardLayout {
//       flex-direction: column;
//       text-align: center;

//       .imageSection {
//         width: 100%; // full width on small screens
//         margin-bottom: 1.5rem;
//       }

//       .textSection {
//         padding-left: 0;
//         h3 {
//           font-size: 1.5rem;
//         }
//         p {
//           font-size: 1rem;
//         }
//       }
//     }

//     .customArrow {
//       top: -40px;
//       right: 30px !important;
//     }

//     .customArrowLeft {
//       right: 100px !important;
//     }
//   }
// }

.ourWorks {
  background: #fefcf9;
  padding: 1rem 3rem;
  position: relative;

  &.addTopPadding {
    padding-top: 4rem;

    @media screen and (max-width: 768px) {
      padding-top: 1rem;
    }
  }

  .slick-list .slick-track {
    gap: 0px !important;
  }

  .topHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    position: relative;
    left: 50px;

    h2 {
      font-size: 36px;
      line-height: 42px;
      font-weight: 300;

      strong {
        font-weight: 700;
        display: inline-block;
      }
    }
  }

  .cardLayout {
    display: flex;
    gap: 1rem;
    // align-items: center;
    // background: white;
    // border-radius: 16px;
    padding: 0 25px;
    width: 100%;
    max-width: 1300px;
    justify-content: center;

    @media (max-width: 1200px) {
      padding-left: unset;
    }



    .imageSection {
      max-width: 500px;
      width: 100%;
      flex-shrink: 0;

      img {
        width: 100%;
        height: auto;
        display: block;
        border-radius: 8px;
      }
    }

    .textSection {
      flex: 1;
      padding-left: 50px;

      @media (max-width: 768px) {
        padding-left: unset;
      }

      h3 {
        font-size: 32px;
        font-weight: 700;
        line-height: 49px;
        letter-spacing: -1px;
        color: #000000;
        margin-bottom: 1rem;
        max-width: 470px;
        width: 100%;
      }

      p {
        font-size: 21px;
        line-height: 36px;
        color: #333;
        padding: 1rem 0;
        max-width: 490px;
        width: 100%;
      }
    }
  }

  .customArrow {
    display: flex !important;
    align-items: center;
    justify-content: center;
    width: 81px;
    height: 46px;
    border-radius: 50px;
    border: 1px solid #000;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    top: -80px;
    right: 8% !important;
    left: auto;
    z-index: 1;
    position: absolute;

    @media screen and (max-width: 1200px) {
      right: 50px !important;
    }

    &:before {
      display: none;
    }

    svg {
      fill: #000;
      transition: fill 0.3s ease;
    }

    &:hover {
      background: black;

      svg {
        fill: white;
      }
    }
  }

  .customArrowLeft {
    right: 17% !important;

    @media screen and (max-width: 1200px) {
      right: 156px !important;
    }
  }

  // Breakpoint: ≤1200px
  @media screen and (max-width: 1200px) {
    .topHeader {
      left: 0;

      h2 {
        font-size: 2.2rem;
      }
    }

    .cardLayout {
      .textSection {
        h3 {
          font-size: 2.2rem;
        }

        p {
          font-size: 1rem;
        }
      }
    }
  }

  // Breakpoint: ≤1050px
  @media screen and (min-width: 768px) and (max-width: 1050px) {
    .cardLayout {
      flex-direction: row;
      align-items: center;
      gap: 1rem;

      .imageSection {
        width: 50%;

        img {
          width: 100%;
          height: auto;
        }
      }

      .textSection {

        // width: 50%;
        // padding-left: 1rem;
        h3 {
          font-size: 20px;
          margin-bottom: 0.5rem;
          line-height: 30px;
        }

        p {
          font-size: 16px;
          line-height: 1.4;
        }
      }
    }

    .topHeader {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  // Breakpoint: ≤768px
  @media screen and (max-width: 768px) {
    padding: 1rem 1.5rem;

    .topHeader h2 {
      font-size: 1.8rem;
    }

    .cardLayout {
      padding: 1rem 0;
      flex-direction: column;
      text-align: center;
      align-items: center;

      .imageSection {
        width: 100%;
        margin-bottom: 1.5rem;
      }

      .textSection {
        h3 {
          font-size: 1.5rem;
          line-height: 1.3;
        }

        p {
          font-size: 0.95rem;
        }
      }
    }

    .customArrow {
      width: 60px;
      height: 40px;
      top: -50px;
      right: 35px !important;

      @media (max-width: 500px) {
        top: -10px;
      }
    }

    .customArrowLeft {
      right: 100px !important;
    }
  }

  // Breakpoint: ≤680px
  @media screen and (max-width:680px) {

    .cardLayout {
      text-align: left;
    }
  }
}